.nav.navbar-nav.navbar-right li a {
    color: black;
}

.bg-client {
    background-color: #71b6de;
}

.bg-background{
    background-color: #ebebeb;
}


table.table > thead > tr > th{
    border-color: black;
}
table.table > tbody > tr > td{
    border-color: black;
}